:root {
	--color1: #0066cc;
}
body {
	background-color: whitesmoke;
	font-size: 1.2em;
	min-height: 100vh;
	min-width: 100vw;
}
button i {
	font-size: 2.5em;
	padding: 2px;
}

header, footer {
	background-color: var(--color1);
	border: 1px solid black;
	display: flex;
	width: 100%;
	justify-content: center;
	margin: 0;
	padding: 10px;
	box-sizing: border-box;
}
header {
	justify-content: space-around;
	position: sticky;
	top: 0;
}
header button {
	border: 2px solid black;
	height: auto;
	min-width: 70px;
	border-radius: 5%;
}
.chosen:before {
	content: "";
	position: relative;
	bottom: 3px;
	font-size: 2em;
}
footer {
	position: sticky;
	right: 0;
	height: 40px;
	padding: 0px;
}
footer p {
	padding: 0;
	margin: 0;
}
article.blog-post {
	background-color: whitesmoke;
	box-sizing: border-box;
	margin: 0;
	padding: 2% 10%;
	text-indent: 20px;
}
.homepage {
	margin: 0 auto;
	text-align: center;
	padding: 5%;
}
.homepage-icon {
	font-size: 15em;
}

.write-screen {
	width: 80%;
	margin: 0 auto;
	padding: 2em;
}
.write-screen textarea{
	font-size: 1.2em;
	height: 60vh;
	width: 100%;
}

.chosen {
	background-color: lightslategray;
	border: 3px solid black;
}

.chosen:before {
	content: "➤";
	position: relative;
	bottom: 3px;
	font-size: 2em;
}